In [5]:
#creating the list and printing it
#list in python
my_list = [3,8,1,6,0,8,4]
print("list is ",my_list)

list is  [3, 8, 1, 6, 0, 8, 4]

In [7]:
#creating list using range function
for i in range(1,10):
    print(i)
my_list1 = range(1,10,1)
print("list using range function is " ,my_list1)

1
2
3
4
5
6
7
8
9
list using range function is  range(1, 10)

In [9]:
#elements accessing using for loop
my_list2 = [1,3,45,78,67,35,5,8,33,5,55]
for i in my_list2:
    print("list using for loop ",i)

list using for loop  1
list using for loop  3
list using for loop  45
list using for loop  78
list using for loop  67
list using for loop  35
list using for loop  5
list using for loop  8
list using for loop  33
list using for loop  5
list using for loop  55

In [11]:
#elements accessing using while loop
my_list2 = [1,3,45,78,67,35,5,8,33,5,55]
i = 0 
while(i < (len(my_list2))):
     print("elements using while loop ")
     print([i])
     i+=1

elements using while loop
[0]
elements using while loop
[1]
elements using while loop
[2]
elements using while loop
[3]
elements using while loop
[4]
elements using while loop
[5]
elements using while loop
[6]
elements using while loop
[7]
elements using while loop
[8]
elements using while loop
[9]
elements using while loop
[10]

In [12]:
#reversing the elements
my_list3= [234,45,67,8,9,24,456,21,21,67]
print("list before reversing " , my_list3)
reverse_list = []
for i in my_list3:
    reverse_list.insert(0,i)
    
print("reversed list is " ,reverse_list)

list before reversing  [234, 45, 67, 8, 9, 24, 456, 21, 21, 67]
reversed list is  [67, 21, 21, 456, 24, 9, 8, 67, 45, 234]

In [14]:
my_list4 = [243,66,7,8,77,55,33,77,'zainab']
my_list = [2,3,4]
ls =[67,5,6,8,3]

In [16]:
#append method
my_list4.append('khatri')
print(my_list4)

[243, 66, 7, 8, 77, 55, 33, 77, 'zainab', 'khatri', 'khatri']

In [18]:
#insert method
my_list4.insert(3,'python')
print(my_list4)

[243, 66, 7, 'python', 'python', 8, 77, 55, 33, 77, 'zainab', 'khatri', 'khatri']

In [20]:
#extend method
my_list.extend(my_list4)
print(my_list)

[2, 3, 4, 243, 66, 7, 'python', 'python', 8, 77, 55, 33, 77, 'zainab', 'khatri', 'khatri', 243, 66, 7, 'python', 'python', 8, 77, 55, 33, 77, 'zainab', 'khatri', 'khatri']

In [22]:
#pop method
temp = my_list4.pop()
print("poped element is  " ,temp)
print("list after poping ",my_list4)

poped element is   khatri
list after poping  [243, 66, 7, 'python', 'python', 8, 77, 55, 33, 77, 'zainab']

In [23]:
#remove element
my_list4.remove(66)
print(my_list4)

[243, 7, 'python', 'python', 8, 77, 55, 33, 77, 'zainab']

In [24]:
#clear method
my_list.clear()
print(my_list)

[]

In [25]:
#index method
i= my_list4.index(77)
print(i)

5

In [26]:
#count method
i=my_list4.count(77)
print(i)

2

In [27]:
#reverse method
my_list4.reverse()
print(my_list4)

['zainab', 77, 33, 55, 77, 8, 'python', 'python', 7, 243]

In [28]:
#sort method
ls.sort()
print(ls)

[3, 5, 6, 8, 67]