In [9]:
import pandas as pd
import numpy as np

In [10]:
#8(A)
l = ['zainab','shivam','vaishnavi','shreya']
s = pd.Series(l)
print("series using list is:")
print(s)

series using list is:
0       zainab
1       shivam
2    vaishnavi
3       shreya
dtype: object

In [11]:
d = {1:25,2:22,3:12,4:10}
s2 = pd.Series(d)
print("series using dictionry is:")
print(s2)

series using dictionry is:
1    25
2    22
3    12
4    10
dtype: int64

In [12]:
#8(B)
df=pd.read_xml('PDS-excelsheet.xml')

In [13]:
df.head()

,Author,LastAuthor,Created,Version,AllowPNG,WindowHeight,WindowWidth,WindowTopX,WindowTopY,ProtectStructure,ProtectWindows,Style,Name,Table,WorksheetOptions
0,Jainab khatri,Jainab khatri,2022-10-14T07:35:02Z,16.0,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,NaN,NaN
1,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,NaN,NaN
2,None,None,None,NaN,NaN,6880.0,19200.0,32767.0,32767.0,False,False,NaN,None,NaN,NaN
3,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,NaN,NaN
4,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN,PDS-excelsheet,NaN,NaN

In [14]:
#8(D)
from calendar import day_name
from datetime import date
from turtle import fd
tdate=date.today()
print(tdate)
fdate = date.today().strftime( '"%A %d %B %Y"')
print(fdate)

2022-10-14
"Friday 14 October 2022"

In [15]:
from datetime import date
def age(birthdate):
    age=tdate.year - birthdate.year - ((tdate.month,tdate.day) <(birthdate.month,birthdate.day))
    return age
print(age(date(2001,2,11)))

21

In [16]:
from datetime import datetime, timedelta
time=datetime.now()
current = time.strftime('%H :%M :%S')
print(current)
newtime = time + timedelta(hours=5,minutes=30)
print(newtime)

21 :36 :37
2022-10-15 03:06:37.918508

In [37]:
from sklearn.impute import SimpleImputer
df1 = pd.DataFrame([["a","x"],[np.nan,"y"],["a",np.nan],["b","y"]],dtype="category")
imp = SimpleImputer(strategy = "most_Frequent")
print(imp)

SimpleImputer(strategy='most_Frequent')

In [ ]:
color = pd.Series(['green','black','white'],dtype='category')
mfgyear = pd.Series([2001,2002,2022],dtype='category')
trtype = pd.Series(['automatic','manual','dual-clutch'],dtype= 'category')
ctype = pd.Series(['sedan','hatchbook','Suv'],dtype='category')